<template>
	<div><!-- @TODO Cannot use v-for on a root element of a component -->
	<li class="media" v-for="item in items">
		<div class="media-left">
			<img v-bind:src="item.avatar" class="img-circle img-sm" alt="">
		</div>

		<div class="media-body">
			<a href="#" class="media-heading">
				<span class="text-semibold">{{ item.from }}</span>
				<span class="media-annotation pull-right">{{ item.time }}</span>
			</a>

			<span class="text-muted">{{ item.subject }}</span>
		</div>
	</li>
	</div>

</template>


<script>
	export default {
		props: ['items']
	}
</script>