<template>
	<div><!-- @TODO Cannot use v-for on a root element of a component -->
	<li class="media" v-for="item in items" :data-trigger="item.trigger">
		<div class="media-left">
			<a :href=item.url :class="'btn border-' + item.color + ' text-' + item.color + 'btn-flat btn-rounded btn-icon btn-sm'"><i :class="'icon-'+item.icon"></i></a>
		</div>

		<div class="media-body">
			{{item.msg}}
			<div class="media-annotation">{{item.time}}</div>
		</div>
	</li>
	</div>

</template>


<script>
	export default {
		props: ['items']
	}
</script>