<template>
	<div class="tags-container form-control">
		<span v-for="(tag, index) in tags" class="tag" @click="removeTag(index)" v-if="tags.length">
			{{ tag[tagText] }}
			<input type="hidden" :name="name + '[]'" :value="tag[tagValue]"/>
		</span>
		<input type="text" :placeholder="placeholder" v-model="input" @keydown.enter.prevent="addTag" @keydown.tab.prevent="addTag" @keydown.backspace="removeLastTag" class="tag-input"/>
		<div class="tags-suggest" v-if="suggestions && input.length">
			<button v-for="suggestion in suggestions" type="button" @click.prevent="addSuggestion(suggestion)" class="tags-suggestion">{{ suggestion[tagText] }}</button>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'tags-input',
		props: {
			name: {
				type: String,
				required: true
			},
			placeholder: String,
			whitelist: {
				type: Array,
				default: () => [],
			},
			default: {
				default: () => [],
			},
			tagText: {
				default: () => 'title',
			},
			tagValue: {
				default: () => 'id',
			}

		},
		data: function () {
			return {
				input: '',
				tags: [],
			}
		},
		created: function() {
			if (this.default) {
				if (this.default instanceof Array) {
					this.tags = this.default;
				}
			}
		},
		computed: {
			suggestions: function () {
				var app = this;
				return this.whitelist.filter(function (tag) {
					if (tag instanceof String) {
						return tag.toLowerCase().includes(app.input.toLowerCase()) && !app.tags.includes(tag);
					} else {
						return tag[app.tagText].toLowerCase().includes(app.input.toLowerCase()) && !app.tags.map(tag => tag[app.tagValue]).includes(tag[app.tagValue]);
					}
				});
			}
		},
		methods: {
			addTag: function () {
				if (this.whitelist.length && !this.suggestions.length) {
					// Input is not in whitelist!
					return;
				}
				if (this.whitelist.length && this.suggestions.length) {
					this.input = this.suggestions[0];
				}
				this.tags.push(this.input);
				this.input = '';
			},

			removeTag: function (index) {
				this.tags.splice(index, 1);
			},

			addSuggestion: function (tag) {
				this.tags.push(tag);
				this.input = '';
			},

			removeLastTag: function () {
				if (!this.tags.length || this.input.length) {
					return;
				}

				this.tags.splice(this.tags.length-1);
			}
		}
	}
</script>

<style>
	.tags-container {
		background: #fff;
		border: 1px solid #ddd;
		padding: 7px 12px;
		display: flex;
		flex-wrap: wrap;
		position: relative;
		height: unset;
	}

	.tags-container .tag-input {
		background: none;
		border: none !important;
		padding: 2px;
		flex: 1 auto;
		margin: 3px;
		width: unset;
		height: unset !important;
	}

	.tags-container .tag {
		background-color: #0a68b4 !important;
		color: white;
		border-radius: 2px;
		flex-grow: 0;
		justify-self: center;
		display: block;
		margin: 1px 2px;
		padding: 5px;
	}

	.tags-container .tags-suggest {
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
		border: 1px solid #ddd;
		background: #fff;
		padding: 5px;
		display: flex;
		z-index: 90;
	}

	.tags-container .tags-suggestion {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: #cccccc;
		border-radius: 2px;
		flex-grow: 0;
		justify-self: center;
		display: block;
		margin: 3px;
		padding: 5px;
		cursor: pointer;
		width: auto;
		height: auto;
	}
</style>