ul.browser_choices {
  li {
    list-style: none;

    p,
    h4 {
      text-align: left;
    }

    img {
      margin-right: 5px;
    }
  }
}


/* fix to the draggable menu issue*/
#nested .dragged {
  z-index: 99999;
  position: absolute;
}