/*
Theme Name: Cocoonfxmedia Limited
Theme URI: https://www.cocoonfxmedia.co.uk/web-design
Author: Cocoonfxmedia Limited
Author URI: https://www.cocoonfxmedia.co.uk

*/

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 16px;
  font-size: 1rem;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Overpass", sans-serif;
  text-rendering: optimizeLegibility;
  color: #000000;
}
header {
    border-bottom: 1px solid #dfdfdf;
}
ul, menu, dir {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 17px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.row img {
  max-width: 100%;
}



h1, .h1 {
    font-family: 'Montserrat';
    font-weight: 900 !important;
    font-size: 80px;
}
h2, .h2 {
    font-size: 30px;
    font-weight: 600;
}
.artistBox > h2 {
    margin: 40px auto;
    padding: 10px;
    color: #1b1b1b;
    width: 250px;
    font-size: 20px;
    font-family: 'Times New Roman',serif;
    font-style: italic;
    letter-spacing: 5px;
}
.introductionBox h1 {
    width: 100%;
    margin: 0px;
    color: #000;
    letter-spacing: -5px;
    font-weight: 900 !important;
    padding-bottom: 30px;

    font-size: 110px;
}
.introductionBox {
    padding: 50px 0px;
}
.artistBox {
}
.ARTISTS {
    padding-bottom: 45px;
}
.EVENTS {
    background-color: #f5f5f5;
    padding-bottom: 45px;
}
.LOCATIONS {
    padding-bottom: 45px;
}
/* =CIL Specific
-------------------------------------------------------------- */

.logo img {
    max-width: 400px;
    margin: 4px 0px;
}
.introductionBox h2, .trustTitle {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
.introductionBar p {
  font-size: 14px;
  line-height: 24px;
}
.standardPage {
  padding: 50px 0px 60px;
  line-height: 24px;
}
.artistLogin {
	padding: 100px 0px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dc0467+0,6d032a+100 */
	background: #6d032a; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #dc0467 0%, #6d032a 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #dc0467 0%,#6d032a 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center, #dc0467 0%,#6d032a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dc0467', endColorstr='#6d032a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.loginBox {
	padding:20px 0px 0px 0px;
}
.loginBox h1 {
    font-weight: 200;
    margin: 0px 0px 20px;
    text-align: center;
	color:#ffffff
}
.loginBox label {
    margin: 10px;
	color:#ffffff;
}
.loginBox input {
    width: 100%;
    height: 60px;
    font-size: 1rem;
    background-color: #ffffff !important;
    border-width: 0px;
    margin-bottom: 30px;
    border-top: 1px solid #9c003a;
    border-bottom: 1px solid #9c003a;
}
.loginBox input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(255, 205, 230) !important;
}
.loginBox input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}
.loginBox button {
    padding: 20px;
    text-align: center;
    margin: 0px auto;
    display: block;
    width: 100%;
}
.loginBox textarea#bio {
    width: 100%;
    border: 1px solid #9a003a;
}
.registerBox {
    padding: 20px;
    background-color: #ffedf2;
}
.registerBox label {
	color:#83002d;
}
.registerBox input {
        border: 1px solid #9c003a;
}
.container.titleCont {
    position: absolute;
    top: 0px;
    right: 0px;
    color: #ffffff;
    z-index: 9999;
    width: 60%;
    margin: 70px;
    text-align: right;
}
h1.mainHeader {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 3rem;
}


.newsBar {
  background-color: #333b49;
  color: #ffffff;
  padding: 50px 0 70px;
}
.newsTitle h2 {
  color: #fff;
}
.newsBox h2 {
  font-size: 20px;
  text-transform: uppercase;
}
.newsBox p {
  font-size: 14px;
  line-height: 24px;
}

.footer {
  background-color: #000000;
  color: #737373;
}
.ftop {
  width: 100%;
  display: inline-block;
  padding: 30px 0px;
  border-bottom: 1px solid #999999;
}
.fbottom {
  font-size: 12px;
  padding: 5px 0px;
}
.socialBlock {
  display: inline-block;
}
.footerLogo {
  float: right;
}
.footerLogo img {
  width: 200px;
}
img.socialIcon {
    border-radius: 52px;
    width: 32px;
    height: 32px;
}
.artistSocial img {
    width: 32px;
    height: 32px !important;
    margin-right: 2px;
    border-radius: 17px;
}
.lsboxInfo .artistSocial {
    display: none;
}
.lsboxBdr .profileImg {
    display: none;
}
a.editProfilebtn {
    color: #ffffff;
    padding: 10px 20px;
    background-color: #327ab7;
    margin: 20px 0px 30px;
    display: inline-block;
}
a.editProfilebtn:hover {
    background-color: #1b486f;
}
.galleryUploader {
    margin-bottom: 30px;
}
.galleryUploader button {
    color: #ffffff;
    padding: 10px 20px;
    background-color: #32b74a;
    display: inline-block;
    border: 0px;
}
.galleryUploader button:hover {
    background-color: #247d34;
}
.removeGalleryitem {
      color: #fff;
    background-color: #d81a1a;
    float: right;
    margin-top: 10px;
    padding: 5px 10px!important;
    border-color: none;  
}
.removeGalleryitem:hover {
    background-color: #941526;
}
textarea#description {
    vertical-align: text-top;
}
.removeGalleryitem{
    color: #fff;
    background-color: #e20a26;
    border: 0px;
    padding: 10px 20px;
    float: right;
    margin-top: 5px;   
}


/* = Single pages - common elements events, blog, artists
-------------------------------------------------------------- */

.headerImgsingle {
    height: 40vh;
    background-size: cover;
    background-position: center;
    position:relative;
}

a.back {
    color: #737373;
    position: absolute;
    bottom:-32px;
    left: 12px;
}

a.back:hover {
    color: #333;
}


/* = listing boxes - common elements
-------------------------------------------------------------- */

.lsboxBdr {
    border: 1px solid #DCDCDC;
    background-color: #ffffff;
    min-height: 490px;
    margin-bottom: 30px;
}

.lsbox {
  margin-bottom: 24px
}

.lsboxInfo {
  padding: 0 24px 0 24px;
}

a.lsboxMoreinfo {
    margin-top: -20px;
    position: absolute;
    right: 35px;
    bottom: 45px;
    padding: 17px 0;
    font-size: 1.2em;
    color: #ffffff;
    background-color: #000000;
    text-align: center;
    width: 80px;
    height: 80px;
    font-family: serif;
    font-style: italic;
    border-radius: 40px;
    float: right;
}

.lsboxheaderImg {
  height: 300px;
  background-size: cover;
  opacity: 1;
  position:relative;
  z-index: 1;
}

.lsboxInfo h2 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
}
.introContent {display: none;}

/* = Artist - listing page and single page view
-------------------------------------------------------------- */

img.profileImg {
    width: 158px;
    border-radius: 100px;
    margin: -100px 0px 0px 30px;
    border: 5px solid #ffffff;
    -webkit-box-shadow: 7px 7px 17px -8px rgba(54,54,54,1);
    -moz-box-shadow: 7px 7px 17px -8px rgba(54,54,54,1);
    box-shadow: 7px 7px 17px -8px rgba(54,54,54,1);
    position: relative;
    z-index: 10;
}

.artistBio {
  margin: 24px 0;
  font-size: 1.2em;
}

.artistContact {
  margin-top: 12px;
}

@media only screen and (max-width: 992px) {

  .back {
    display: none;
  }

}


/* = Event - listing page and single page view
-------------------------------------------------------------- */

.eventInfo {
  margin-bottom: 24px;
}

.eventLoc {
  margin-top: 5px;
}

.eventPrice {
  margin-top: 5px;
}

.eventArtist {
  margin-top: 5px;
}


/* =Responsive Nav
-------------------------------------------------------------- */
.search {
  float: right;
}

.search form {
}

.search input {
	font-size: 0.8rem;
    padding: 22px 10px !important;
    /* margin: 12px 15px 0 0 !important; */
    width: 200px;
    border: 0px;
    border-left: 1px solid #ededed;
}

.navbar {
  background-color: #ffffff;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 0.7rem;
  min-height: 50px;
  margin-bottom: 0px;
  position: relative;
  text-align: center;
border-top: 1px solid #e0e0e0;
}

.topp {
  display: inline-block;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 0.8rem;
  min-height: 50px;
  margin-bottom: 0px;
  position: relative;
  text-align: center;
}

.topp ul li a {
  color: #093468 !important;
}

nav.mainnav ul, nav.topp ul {
  margin: 0px auto;
  -webkit-padding-start: 0px;
}

nav.mainnav ul li, nav.topp ul li {
  display: inline;
  position: relative;
}

nav.mainnav ul li:hover a, nav.topp ul li:hover a {
  color: #0375b5;
/*  background-color: #0375b5;*/
/*  background-color: #fff; */
}

.mainnav ul li a, .topp ul li a {
  color: #000;
  display: inline-block;
  padding: 20px 35px 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
.topp ul li a {
    padding: 25px 18px 23px;
    font-size: 0.7rem;
}
.mainnav a {
}

nav.mainnav ul li ul, nav.topp ul li ul {
  display: none;
}

nav.mainnav ul li:hover > ul {
    display: block;
    position: absolute;
    text-align: left;
    top: 35px;
    left: 0;
    z-index: 999999999999999;
    -webkit-padding-start: 0px;
    background-color: #fff;
	width: 240px;
}

nav.topp ul li:hover > ul {
  display: block;
  position: absolute;
  text-align: left;
  top: 37px;
  left: 0;
  z-index: 999999999999999;
  padding-left: 0px;
  -webkit-padding-start: 0px;
  width: 300px;
}

nav.mainnav a:active {
  color: #fecc00;
}

nav.mainnav ul li ul li {
  display: block;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #fff;
}

nav.topp ul li ul li {
  display: block;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px solid #fff;
  width: 100%;
/*  background-color: #0574b5;*/
  background-color: #fff;
}

nav.mainnav ul li ul li:last-child, nav.topp ul li ul li:last-child {
  border-right: 0px;
}

nav.mainnav ul li ul li a, nav.topp ul li ul li a {
  display: inline-block;
}

@media only screen and (max-width: 63.125em) {
  nav.mainnav ul li a {
	color: #fff;
	display: block;
	/* margin: 10px 15px; */
	padding: 17px;
  }

  nav.mainnav ul {
	display: none;
	background-color: #024384;
	text-align: right;
  }

  nav.mainnav ul li {
	display: block;

  }

  nav.mainnav ul li ul {
	position: relative;
	top: auto;
	display: none;
  }

  .site-manor-trust nav.mainnav ul li {
	width: 100%;
	text-align: right;
  }

  nav.mainnav ul li:last-child {
	border-right: none;
  }
}

@media only screen and (min-width: 63.125em) {
  a.menuBtn {
	display: none;
  }
}

nav.unslider-nav {
  position: absolute;
  z-index: 9999;
  left: 50%;
  bottom: 5px;
}

.unslider {
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
}

.unslider-wrap {
  position: relative
}

.unslider-wrap.unslider-carousel > li {
  float: left
}

.unslider-vertical > ul {
  height: 100%
}

.unslider-vertical li {
  float: none;
  width: 100%
}

.unslider-fade {
  position: relative
}

.unslider-fade .unslider-wrap li {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 8
}

.unslider-fade .unslider-wrap li.unslider-active {
  z-index: 10
}

.unslider li, .unslider ol, .unslider ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: none
}

.unslider-arrow {
  position: absolute;
  left: 20px;
  z-index: 2;
  cursor: pointer;
  top: 50%;
}

.unslider-arrow.next {
  left: auto;
  right: 20px;
  background: url(/images/whiteArrow.svg) no-repeat 96%;
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-indent: -9999999999px;
}

.unslider-arrow.prev {
  background: url(/images/whiteArrow.svg) no-repeat 96%;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  height: 40px;
  width: 40px;
  overflow: hidden;
  text-indent: -9999999999px;
}

.unslider-nav li {
  float: left;
  padding: 10px !important;
  background: url(/images/pips.png) no-repeat;
  background-position-x: 0px;
  text-indent: -999999px;
  width: 20px;
  height: 20px;
  margin: 5px !important;
}

li.unslider-active {
  background-position: initial;
  background-position-x: -40px;
}

ul.unslider-wrap li img {
  width: 100%;
}

.slider p {
  top: 0px !important;
}

.cookie-consent {
  text-align: center;
  background: #004f9f;
  color: #fff;
  padding: 20px 0;
}

.cookie-consent__message a {
  color: #fff;
  text-decoration: underline;
}

.cookie-consent__message a:hover {
  text-decoration: none;
}

.cookie-consent__agree {
  background: #da2222;
  color: #fff;
  padding: 12px 15px;
}

.cookie-consent__agree:hover {
  background: #a90920;
}

.breadcrumb {
    margin-bottom: 0px;
    border-radius: 0px;
    background-color: #ffffff;
}
.breadcrumb > .active {
    color: #ea9ecb;
}
.breadcrumb > li {
    display: inline-block;
    background-color: black;
    padding: 0px 5px;
}
.breadcrumb li a {
    color: #ffffff !important;
}

a.menuBtn {
  display: block;

  height: 60px;
  text-align: right;
}

.menuBtn {
  color: #fff !important;
  background-color: #000000;
  padding: 20px;
  display: block;
  width: 60px;
  height: 60px;
  margin-left: -15px;
  margin-top: -5px;
}

.menuBtn:hover {
  color: #fff;
}

#mobileNav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffd7f0;
  z-index: 99999;
  padding: 20px 0 0 5px;
}

#mobileNav .inner {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

#mobileNav ul {
  padding: 0;
  margin: 0;
}

#mobileNav li {
  width: 100%;
  text-align: center;
}

#mobileNav li a {
    color: #fff;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    display: block;
    font-size: 2rem;
    font-weight: 800;
}

#mobileNav li a:hover {
  background-color: #cd1e1e;
}

#mobileNav .search {
  float: none;
  text-align: center;
  margin-top: 20px;
}

#mobileNav .search input {
  margin: 0 !important;
}

#mobileNav .search button {
  background: #cd1e1e;
  border: 0;
  padding: 9px 12px;
  color: #fff;
  margin-left: -3px;
}
